/* style.css */


body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #fff0f5;
  color: #4b2e2e;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #ffcce6;
  padding: 10px 20px;
  text-align: center;
  border-bottom: 3px dashed #ff99cc;
}

.welcome {
  font-size: 24px;
  font-weight: bold;
  color: #cc3366;
}

/*Профіль */
.profile {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.profile_container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
}

.profile_image {
  width: 50%;
  max-height: 600px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(255, 182, 193, 0.4);
}

.profile_info {
  width: 50%;
  font-size: 18px;
  background-color: #fffafc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  
}
.profile_info li {
  list-style: "\01F497";
  margin-bottom: 4px; 
}

/*Табличка */
.education {
  text-align: center;
  padding: 40px 20px;
}

.table_wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}

table {
  background-color: #fff;
  border: 2px solid #f7b6c2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 192, 203, 0.2);
  width: 90%;
  max-width: 800px;
}

th, td {
  padding: 12px;
  border: 1px solid #f7b6c2;
}

/*Контакти */

.contact {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffbbcf;
}

.contact_heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(255, 182, 193, 0.3);
}
form p {
  margin: 0;
  align-self: baseline;
  padding-left: 10px;
}
.contact input,
.contact textarea {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 90%;
  padding: 8px;
  border: 3px solid #f7b6c2;
  border-radius: 8px;
}

.contact_info {
  margin-top: 20px;
  font-style: italic;
  color: #555;
  text-align: center;
}

/*Соцмережі */
.social_media {
  text-align: center;
  padding: 30px;
  background-color: #ffe6f0;
}

.social_media a {
  display: inline-block;
  margin: 0 10px;
  color: #c71585;
  text-decoration: none;
  font-weight: bold;
}

.social_media a:hover {
  text-decoration: underline;
}

/*Респонсивність */
@media (max-width: 768px) {
  .profile_container {
      flex-direction: column;
      text-align: center;
  }

  .profile_image,
  .profile_info {
      width: 100%;
  }

  .contact form {
      width: 90%;
  }

  .table_wrapper {
      overflow-x: auto;
      justify-content: flex-start;
      padding: 0 10px;
  }

  table {
      min-width: 500px;
  }
}

